@import 'variables';
@import 'navigation';
@import 'index';

#downArrow{
  width:2em;
  height:auto;
  margin: auto;
  margin-top: 2%;
  display: block;
}

#copyrightBar{
  bottom: 10px;
  position: absolute;
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 6px 8px 6px 12px;
  display: block;
  width: 100%;
  font-family: $accent-font;
}
