body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #691F2B;
  font-size: 1em;
  position: relative;
}

img{
  width: 100%;
  height: 100%;
}

/* Index Section */
.index-container{
  box-sizing: border-box;
  width: 100%;
  height: 85vh;
  position: relative;
  /* border: solid red 2px; */
}

.logo-container{
  position: absolute;
  top: 15%;
  width: 100%;
  height: auto;
  z-index: 2;
}
#logoImage{
  height: 60vh;
  width: auto;
  transition: transform 1.5s ease-out;
  margin: auto;
  display:block
}

.index-container:hover #logoImage{
  transform: translateX(-50%);
}

#introText {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%);
  z-index: 1;
  color: white;
  width: 35%;
}
#introName {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

#fading-effect{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #691F2B;
  transition: transform 1.5s linear;
  /* border: solid red 2px; */
}
.index-container:hover #fading-effect{
  transform: translateX(-100%);
}

#downArrow{
  width:2em;
  height:auto;
  margin: auto;
  margin-top: 2%;
  display: block;
}
