@import 'variables';

/* About Me Section */
.aboutMe-container {
  @include container-format-small;

  .sectionTitle {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
  }

  .grid-container-about {
    display: grid;
    grid-column-gap: 5%;
    grid-row-gap: 5px;
    width: 85%;
    margin: 0.5em auto auto auto;

    .grid-item {
      line-height: 1.5em;
      text-align: left;
    }

    .cartoon-container {
      width: 50%;
      margin: auto;
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    .subSections {
      color: $primary-color;
      font-weight: $bold-fontsize;
      font-size: 1.2em;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    .backgroundText {
      margin-top: 5%;
    }

    .skills {
      p {
        margin-bottom: 3px;
      }

      ul {
        list-style-position: inside;
        list-style-type: none;
        padding-left: 0;
        //Display list in two columns
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
      }

      li{
        margin-bottom: 3px;

        &::before {
          content: '► ';
          color: $primary-color;
        }
      }
    }

    .education {
      .ccny, .qcc {
        margin-bottom: 8px;
        p {
          margin: 0;
        }

        span {
          font-size: 0.8em;

          &::before {
            content: ' ';
          }
        }
      }
    }
  }
}

// Tablet View
@media (min-width:768px) {
  .aboutMe-container {
    @include container-format-large;
  }
}

// Large Tablet View
@media (min-width:1024px) {
  .aboutMe-container .grid-container-about {
    grid-template-columns: 25% 70%;

    .cartoon-container {
      width: 100%;
    }

    .backgroundText {
      grid-column: 2;
      grid-row: 1;
      margin-top: 0;;
    }

    .skills {
      grid-column: 2;
      grid-row: 2;
    }

    .education {
      grid-column: 2;
      grid-row: 3;
    }
  }
}