@import 'variables';

/* About Me Section */
.aboutMe-container {
  @include body-format;
  margin-top: 15vh;
  padding-top: 40px;

  .sectionTitle {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
  }

  .subSections {
    color: $primary-color;
    font-weight: $bold-fontsize;
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .grid-container-about {
    width: 65%;
    margin: 0.5em auto auto auto;
    display: grid;
    grid-column-gap: 5%;
    grid-row-gap: 1%;
    grid-template-rows: auto auto;

    .grid-item {
      line-height: 1.5em;
      text-align: left;
    }

    .cartoon-container {
      width: 50%;
      margin: auto;
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    .backgroundText, .skills, .education {
      margin-left: -95px;
    }

    .backgroundText {
      grid-column: 2;
      grid-row: 1;
    }

    .skills {
      grid-column: 2;
      grid-row: 2;

      p {
        margin-bottom: 3px;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
        //Display list in two columns
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        list-style-position: inside;
      }

      li{
        margin-bottom: 3px;

        &::before {
          content: '► ';
          color: $primary-color;
        }
      }
    }

    .education {
      grid-column: 2;
      grid-row: 3;

      .ccny, .qcc {
        margin-bottom: 8px;
        p {
          margin: 0;
        }

        span {
          font-size: 0.8em;

          &::before {
            content: ' ';
          }
        }
      }
    }
  }
}

// Large Tablet View
@media (max-width:1024px) {
  .aboutMe-container{
    .grid-container-about {
      width: 85%;
      grid-template-columns: 25% 70%;

      .cartoon-container {
        width: 100%;
      }

      .backgroundText, .skills, .education {
        margin-left: 0;
      }
    }
  }
}

// Tablet View
@media (max-width:768px) {
  .aboutMe-container {
    .grid-container-about {
      width: 80%;
      display: block;

      .cartoon-container {
        width: 50%;
        margin-bottom: 2em;
      }

      .backgroundText, .skills, .education {
        width: 100%;
        margin-top: 5%;
      }
    }
  }
}

// Smartphone View
@media (max-width:480px) {
  .aboutMe-container{
    width: 100%;
    margin-left: 0;
    //Offset fixed navbar when directing to section
    padding-top: 10vh;
    margin-top: 0;

    .grid-container-about {
      width: 85%;

      .backgroundText, .skills, .education {
        margin-top: 10%;
      }

    }
  }
}
