@import 'variables';

/* Contact Section */
.contact-container {
  margin-top: 15vh;

  .sectionTitle {
    width: 85%;
    text-align: center;
    display: block;
    margin: 0 auto 8px;
  }

  p {
    width: 85%;
    margin: auto;
    text-align: center;
  }

  .grid-container-contact {
    display: grid;
    width: 85%;
    margin: 25px auto;

    .grid-item {
      line-height: 1.5em;
      padding: 5%;

      a {
        text-decoration: none;
        color: inherit;

        h6 {
          font-family: $heading-font;
        }
  
        p {
          width: 100%;
          margin: 0;
          text-align: left;
          color: $secondary-color;

          &::after {
            content: ' \00bb';
          }
        }
      }
    }
  }
}

// Tablet View
@media (min-width:768px) {
  .contact-container {
    @include container-format-large;

    .grid-container-contact {
      width: min-content;
      grid-row-gap: 20%;
      grid-template-columns: repeat(2, minmax(30ch, 25%));
    }
  }
}

@media (hover: hover) {
  .contact-container .grid-container-contact {
    .grid-item:hover {
      background-color: $primary-color;
      a h6, p{
        color: $inverse-color;
      }
     
    }
  }
}