/* Experience Section */
.experience-container{
  width: calc(100% - 150px);
  margin-left: 150px;
  margin-top: 15vh;
  box-sizing: border-box;
  // border: solid red 3px;

  .sectionTitle {
    margin-left: 20%;
    margin-top: 200px;
    // border: solid red 3px;
  }
}
