@import 'variables';

/* Index Section */
.index-container {
  position: relative;
  min-height: 95vh;
  padding-top: 45%;

  .logo-container #index_logo {
    display: block;
    width: 50%;
    margin: auto;
  }

  #introText {
    width: 75%;
    margin: auto;
    text-align: center;

    #introName {
      font-family: $heading-font;
      font-weight: $reg-fontweight;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding-bottom: 30px;

      span {
        color: $primary-color;
      }
    }
  }

  #downArrow {
    position: absolute;
    width: 3em;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

// Tablet View
@media (min-width:768px) {
  .index-container {
    @include container-format-large;
    padding-top: 25%;
  }
}

@media (min-width:1024px) {
  .index-container {
    padding-top: 0;

    .logo-container {
      position: absolute;
      z-index: 2;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);

      #index_logo {
        max-height: 60vh;
        width: auto;
        transition: transform 1.5s ease-out;
        margin: auto;
      }
    }

    #introText {
      position: absolute;
      z-index: 1;
      width: 60ch;
      top: 50%;
      left: 50%;
      transform: translate(-25%, -50%);
      text-align: left;
  
      #fading-effect {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background: white;
        transition: transform 1.5s linear;
      }
    }
  }
}

@media (hover: hover) {
  .index-container:hover {
    #fading-effect {
      transform: translateX(-100%);
    }
    #index_logo {
      transform: translateX(-50%);
    }
  }
}