@import 'variables';

/* Navbar */
.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 3; /*Makes sure the fading-effect box doesn't show ontop*/
  top: 0;
  left: 0;
  background-color: $primary-color;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;

  #logo_home{
    padding: 0;

    img{
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }

  .linkto, .backto {
    a {
      padding: 6px 8px 6px 26px;
      text-decoration: none;
      font-family: $heading-font;
      font-weight: 400;
      font-size: 1.2em;
      color: white;
      display: block;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}

// Smartphone View
@media (max-width:480px){
  .sidenav {
    width: 100%;
    padding: 0.2em 0;
    height: auto;

    #logo_home {
      img{
        width: 15%;
        margin-bottom: 0;
      }

      &::before {
        content: '';
      }
    }

    .linkto {
      padding-right: 1%;
      padding-top: 2px;
      top: 25%;
      right: 0;
      position: absolute;

      #toHome {
        visibility: hidden;
        font-size: 0;
      }
      #toAbout, #toExp, #toProj {
        &::after {
          content: ' |'
        }
      }

      a {
        padding: 6px;
        font-size: 0.75em;
        display: inline;
        text-align: right;
      }
    }
  }
}

//Smaller Smartphone View
@media (max-width:320px){
  .sidenav {
    a {
      padding: 3px;
    }
  }
}
