@import 'variables';

/* Navbar */
.sidenav {
  position: fixed;
  z-index: 3; /*Makes sure the fading-effect box doesn't show ontop*/
  width: 100vw;
  height: 80px;
  overflow-x: hidden;
  background-color: $primary-color;

  #logo_home img {
    width: auto;
  }

  .linkto {
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    right: 0;
    align-items: center;
    padding-right: 5px;

    a {
      padding: 0 6px;
      text-decoration: none;
      font-family: $heading-font;
      font-weight: 400;
      font-size: 0.75em;
      color: white;
    }

    #toHome {
      visibility: hidden;
      font-size: 0;
    }

    #toAbout, #toExp, #toProj {
      border-right: solid 1px;
    }
  }
}

// Tablet View
@media (min-width:768px) {
  .sidenav {
    height: 100vh;
    width: 150px;
    padding-top: 20px;

    #logo_home img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    .linkto {
      display: grid;
      height: auto;
      top: auto;
      right: auto;

      a {
        padding: 6px 8px 6px 26px;
        font-size: 1.2em;
      }

      #toHome {
        visibility: visible;
        font-size: 1.2em;
      }

      #toAbout, #toExp, #toProj {
        border-right: none;
      }
    }
  }
}

@media (hover: hover) {
  .sidenav .linkto {
    a:hover {
      color: $secondary-color;
    }
  }
}