@import 'variables';

/* Projects Section */
.projects-container {
  width: calc(100% - 150px);
  margin-left: 150px;
  margin-top: 15vh;
  // border: solid red 3px;
  box-sizing: border-box;

  .sectionTitle {
    // border: solid red 3px;
    width: 65%;
    height: auto;
    margin: 1em auto;
    display: block;
  }

  .projType {
    margin-bottom: 0;
    font-size: 14px;
  }
  .projTitle {
    font-family: $heading-font;
    font-weight: $bolder-fontsize;
    color: $primary-color;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 1em;
  }
}

.grid-container-coursework {
  display: grid;
  width: 65%;
  height: auto;
  margin: 0.5em auto auto auto;
  // grid-template-rows: auto auto;
  grid-template-columns: 55% 40%;
  grid-gap: 6em 5%;
  // border: solid blue 3px;

  .grid-item {
    line-height: 1.5em;
    text-align: left;
    // border: solid red 3px;
  }

  #credTrackInfo, #theHiveInfo {
    padding-top: 2em;
    padding-right: 20%;
  }

  .projImg {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.grid-container-techworks {
  display: grid;
  width: 65%;
  height: auto;
  margin: 6em auto auto auto;
  grid-template-rows: auto auto;
  grid-template-columns: 20% 75%;
  grid-gap: 1em 5%;

  .grid-item {
    line-height: 1.5em;
    text-align: left;
  }

  #techworksTitle {
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 1.5em;
  }
  button {
    width: 100%;
    font-family: $heading-font;
    font-weight: $bolder-fontsize;
    color: $primary-color;
    letter-spacing: 1px;
    border: none;
    border-left: solid $primary-color 1px;
    padding: 10px 0 10px 10px;
    font-size: 1em;
    text-decoration: none;
    text-align: left;
    display: inline-block;
    background-color: inherit;

    &:hover {
      background-color: $primary-color;
      color: $inverse-color;
    }
  }
  .projInfo {
    width: 100%;
    height: auto;
    margin: auto;

    .projTitle {
      margin: 0;
    }

    p {
      padding: 5px;
      margin-bottom: 0;
    }
  }
}

.projSoftware {
  box-shadow: 0.18em 0.18em 0.1em gray;
  font-family: $primary-font;
  padding: 1em;
  margin-right: 0.5em;
}

#sourceCode{
  display: inline-block;
  background-color: inherit;
  color: $secondary-color;
  border: none;
  font-size: 1.1em;
  width: auto;
  cursor: pointer;

  a{
    text-decoration: none;
    color: $secondary-color;
  }

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

    &:after {
      content: '\00bb';
      font-weight: $reg-fontsize;
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }

  &:hover span {
    padding-right: 25px;

    &:after {
      opacity: 1;
      right: 0;
    }
  }
}

// Smartphone View
@media (max-width:480px){
  .projects-container{
    width: 100%;
    margin-left: 0;
    //Offset fixed navbar when directing to section
    padding-top: 4vh;
    margin-top: 0;

    .sectionTitle {
      text-align: center;
      width: 55%;
    }
  }

  .grid-container-coursework {
    display: block;
    width: 75%;

    #credTrackInfo, #theHiveInfo {
      padding-right: 0;
    }

    #sourceCode{
      margin-bottom: 4em;
    }
  }

  .grid-container-techworks {
    display: block;
    width: 75%;
    margin: auto;

    #selectProj{
      display: inline;
      line-height: 0;

      button {
        width: auto;
        font-size: 0.65em;
        margin-right: 1em;
        margin-bottom: 1em;
        padding-right: 1em;
        border: none;
        border-top: solid $primary-color 1px;
      }
    }

    .projInfo{
      margin-top: 2em;
    }
  }
}
