@import 'variables';

.timeline-contatiner {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin: 40px 0;
}

//Display line for timeline
.timeline-contatiner::after {
  background-color: $primary-color;
  content: ''; //needed for the line to display
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

//Left side/ default of timeline
.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;

  .timeline-item-content {
    box-shadow: 0 0 5px $primary-color;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
    font-family: $primary-font;

    &::after {
      content: ' ';
      background-color: #fff;
      box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
      position: absolute;
      right: -7.5px;
      top: calc(50% - 7.5px);
      transform: rotate(45deg);
      width: 15px;
      height: 15px;
    }

    time {
      color: #777;
      font-size: 12px;
      font-family: $primary-font;
      font-weight: $bolder-fontsize;
    }

    h6 {
      line-height: 24px;
      margin: 15px 0;
      max-width: 390px;
      font-family: $heading-font;
      font-weight: $bold-fontsize;
      font-size: 1.2em;
    }

    span {
      font-size: 0.8em;
    }

    p {
      line-height: 24px;
      margin-bottom: 8px;
      max-width: 390px;
      font-weight: $reg-fontsize;
    }

    a {
      font-size: 1em;
      font-weight: bold;
      color: $primary-color;
      font-weight: $bold-fontsize;

      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }

    .moreInfo {
      color: $primary-color;
      text-align: right;
      width: 100%;
      margin: 0px auto;
      padding: 0;
      opacity: 0;
      transition: 0.8s ease;
      // border: solid red 3px;

      &:after {
        content: '\00bb';
      }
    }
    &:hover .moreInfo {
      opacity: 1;
    }

    .circle {
      background-color: #fff;
      border: 3px solid $primary-color;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 10px);
      right: -40px;
      width: 20px;
      height: 20px;
      z-index: 2;
    }
  }
}

//Right side of timeline
.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;

  .timeline-item-content {
    text-align: left;
    align-items: flex-start;

    &::after {
      right: auto;
      left: -7.5px;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .circle {
      right: auto;
      left: -40px;
    }
  }
}

// Tablet View
@media only screen and (max-width: 768px) {
  .timeline-item{
    .timeline-item-content {
      max-width: 85%;

      .moreInfo {
        opacity: 1;
      }
    }
  }
}

// Smartphone View
// Change format
@media only screen and (max-width: 480px) {
  //Timeline bar
  .timeline-contatiner::after {
    left: 40px;
  }

  //Left side/ default of timeline
  .timeline-item{
    display: block;
    padding-left: 90px;
    padding-right: 0;
    width: 100%;
    align-items: flex-start;

    .timeline-item-content {
      text-align: left;
      align-items: flex-start;
      max-width: 90%;

      .circle {
        right: auto;
        left: -58px;
      }

      span {
        font-size: 0.8em;
      }
    }

    .timeline-item-content::after{
      right: auto;
      left: -9px;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }

  //Right side of timeline
  .timeline-item:nth-child(odd) {
    padding-left: 90px;

    .timeline-item-content {
      text-align: left;
      margin-right: 0;

      .circle {
        right: auto;
        left: -58px;
      }
    }
  }
}
