@import 'variables';

.timeline-contatiner {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 85%;
  margin: 40px auto;
}

//Display line for timeline
.timeline-contatiner::after {
  content: ''; //needed for the line to display
  position: absolute;
  left: 20px;
  width: 4px;
  height: 100%;
  background-color: $primary-color;
}

.timeline-item {
  margin: 10px 0;
  padding-left: 90px;

  .timeline-item-content {
    position: relative;
    font-family: $primary-font;
    max-width: 85%;
    box-shadow: 0 0 5px $primary-color;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;

    &::after {
      content: ' ';
      position: absolute;
      width: 15px;
      height: 15px;
      top: calc(50% - 7.5px);
      left: -9px;
      transform: rotate(45deg);
      background-color: #fff;
      box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .circle {
      z-index: 2;
      position: absolute;
      width: 20px;
      height: 20px;
      top: calc(50% - 10px);
      left: -78px;
      background-color: #fff;
      border: 3px solid $primary-color;
      border-radius: 50%;
    }

    a {
      color: $primary-color;
      font-weight: $bold-fontweight;
    }

    time {
      color: #777;
      font-size: 12px;
      font-weight: $bolder-fontweight;
    }

    h6 {
      margin: 15px 0;
      font-family: $heading-font;
      font-size: 1.2em;

      span {
        font-size: 0.8em;
      }
    }

    .expOverview {
      line-height: 24px;
      margin-bottom: 8px;
    }

    .moreInfo {
      color: $primary-color;
      text-align: right;
      margin: 0px auto;

      &:after {
        content: ' \00bb';
      }
    }
  }
}

// Tablet View
@media (min-width:768px) {
  .timeline-contatiner {
    width: 85%;
  }

  //Display line for timeline
  .timeline-contatiner::after {
    left: calc(50%);
  }
  
  //Left side/ default of timeline
  .timeline-item {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 50%;
    padding: 0 30px 0 0;
    
    .timeline-item-content {
      max-width: 100%;
      &::after {
        left: auto;
        right: -7.5px;
        box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
      }

      .circle {
        left: calc(100% + 22px);
      }
    }
  }

  //Right side of timeline
  .timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding: 0 0 0 30px;

    .timeline-item-content {
      text-align: left;

      &::after {
        right: auto;
        left: -7.5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
      }

      .circle {
        right: auto;
        left: -37px;
      }
    }
  }
}

@media (hover: hover) {
  .timeline-item {
    a:hover {
      color: $primary-color;
      text-decoration: none;
      font-weight: bolder;
    }

    .moreInfo {
      opacity: 0;
      transition: 0.8s ease;
    }

    &:hover .moreInfo {
      opacity: 1;
    }
  }
}