$primary-color: #691F2B;
$primary-font: 'Karla', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$accent-font: 'Cinzel', serif;
$light-fontsize: 300;
$reg-fontsize: 400;
$bold-fontsize: 500; //medium
$bolder-fontsize: 700; //bold, karla only
$testing-color: yellow;
