@import 'variables';

.App {
  position: relative;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.sectionTitle {
  font-family: $heading-font;
  font-weight: $reg-fontsize;
  font-size: 2em;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p, a, li {
  font-family: $primary-font;
  font-weight: $reg-fontsize;
  font-size: 1em;
}

/*Scroll Button*/
#topButton {
  position: fixed;
  bottom: 1em;
  right: 30px;
  border: none;
  outline: none;
  background-color: inherit;

  img {
    width: 2em;
    height: auto;
    float: right;
    bottom: auto;
    position: relative;
    margin-bottom: 35%;

    &:hover {
      cursor: pointer;
      width: 2.5em;
      height: auto;
    }
  }
}

.footer-container {
  width: calc(100% - 150px);
  height: auto;
  margin-left: 150px;
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  display: block;
  font-family: $accent-font;
  font-size: 0.8em;
  text-align: center;
  color: $primary-color;

  hr {
    width: 90%;
    color: $primary-color;
  }
}

// Smartphone View
@media (max-width:480px) {
  .footer-container {
    width: 100%;
    margin-left: 0;
  }
}
