@import 'variables';

// Change color when selecting text
::-moz-selection { //firefox
  color: white;
  background: $primary-color;
}

::selection {
  color: white;
  background: $secondary-color;
}

.App {
  position: relative;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.sectionTitle {
  font-family: $heading-font;
  font-weight: $reg-fontweight;
  font-size: 2em;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p, a, li {
  font-family: $primary-font;
  font-weight: $reg-fontweight;
  font-size: 1em;
}

/*Scroll Button*/
#topButton {
  position: fixed;
  bottom: 1em;
  right: 30px;
  border: none;
  background-color: inherit;

  svg:hover {
    cursor: pointer;
    transform: translateY(-0.5em);
  }
}

.footer-container {
  padding: 20px 0;
  font-family: $accent-font;
  font-size: 0.8em;
  text-align: center;
  color: $primary-color;

  hr {
    width: 90%;
    color: $primary-color;
  }
}

// Smartphone View
@media (min-width:768px) {
  #topButton {
    bottom: 2.5em;
  }

  .footer-container {
    @include container-format-large;
  }
}
